@model GsDotNet.DTOs.EventoClimaticoDTO
@{
    ViewData["Title"] = "Detalhes do Evento";
}
<h1>Detalhes do Evento Climático</h1>
<div>
    <h4>Evento Climático</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOcorrencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOcorrencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Severidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Severidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar para Lista</a>
</div>
